// Colors
$black: #181818;
$white: #fff;
$red: #f56e5a;
$dark-red: #e85d41;
$gray: #322a0012;
$border-color: #18181826;

// Media breakpoints
$screen-sm: 576px;
$screen-md: 768px;
$screen-xl: 1200px;
